@model TRANNGOCTAN.Models.DangKy

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>

<div>
    <h4>DangKy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayDK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaSV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaSV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
